{% extends "base.html" %}
{% block title %}classicalBTS{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>ClassicalBTS 列表</h1>
</div>
<div class="container">
    <table class="table table-hover">
        <tr>
            <td>BTS_id</td>
            <td>AMIA_id</td>
            <td>ASIK_id</td>
            <td>ABIL_id</td>
            <td>PB_info</td>
            <td>位置</td>
            <td>TAG</td>
            <td>OWNER</td>
            <td>操作</td>
        </tr>
        {% for classicalbts in classicalbtss %}
        <tr>
            <td><a href="{{ classicalbts.id }}">{{ classicalbts.id }}</a></td>
            <td>
                {% if classicalbts.amia_id %}
                    <a href="{% url 'lab:amia_detail_form' classicalbts.amia_id %}">{{ classicalbts.amia_id }}</a>
                {% else %}
                    {{ classicalbts.amia_id }}
                {% endif %}
            </td>
            <td>
                {% if classicalbts.asik_id %}
                    <a href="{% url 'lab:asik_detail_form' classicalbts.asik_id %}">{{ classicalbts.asik_id }}</a>
                {% else %}
                    {{ classicalbts.asik_id }}
                {% endif %}
            </td>
            <td>
                {% if classicalbts.abil_id %}
                    <a href="{% url 'lab:abil_detail_form' classicalbts.abil_id %}">{{ classicalbts.abil_id }}</a>
                {% else %}
                    {{ classicalbts.abil_id }}
                {% endif %}
            </td>
            <td><span>id: <a href="{% url 'lab:pb_detail_form' classicalbts.pb_id %}">{{ classicalbts.pb_id }}</a></span><span>  &  port: {{ classicalbts.pb_port }}</span></td>
            <td>{{ classicalbts.location }}</td>
            <td>{{ classicalbts.tag }}</td>
            <td>{{ classicalbts.owner }}</td>
            <td><a href="{% url 'lab:classicalbts_delete' classicalbts.id %}" onclick="return confirm('确定删除吗？')">删除</a> </td>
        </tr>
        {% endfor %}
        <tr><a href="{% url 'lab:classicalbts_add' %}">新增</a></tr>
    </table>
</div>
{% endblock %}